.back {
    background-color: rgb(132, 190, 211);
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/1898585.jpg");
    background-size: 100%;
}

.txt {
    color: white;
    font: bold;
    font-size: 30px;
    font-family: Cascadia Code;
}

.tx {
    color: white;
    font: bold;
    font-size: 17px;
    font-family: Cascadia Code;
}
